<section>

      <div class="column" id="column1">
        <h1>Cheick Kone</h1>

      </div>

      <div class="column" id="column2">
        <h1>Nayeb hezam</h1>

      </div>

      <div class="column" id="column3">
        <h1> Kevin Petshi</h1>


      </div>

      <div class="column" id="column4">
        <h1>CLS 93</h1>


      </div>
</section>